body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    
}


.contenedor{
    display: flex;
    
}

/*Parte 1*/

.header{
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20px 0px 20px 100px;
    justify-content: space-between;
    
}

.header-logo img{
    width: 200px;
    height: 100px;  
    
}

.header-menu{
    display: flex;
    margin-bottom: auto;
    padding: 0px 100px 0px 0px;
    
}

.header-menu a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
    
}

.header-menu a:hover{
    color: orangered;
}

/*parte 2*/

.section2{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.parrafo{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.parrafo p{
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.section2 button{
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.section2 button:hover{
    background-color: orange;
    color: #1F2937;

}


.img-main img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: orange solid;
    box-shadow: 0px,0px, 25px, -3px  rgba(0,0,0,0.75);
}

/*parte 3*/

.contenido{
    align-items: center;
}

.contenido h2{
    font-size:xx-large
}

.contenido-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenido-info p{
    font-weight: bold;
}

.contenido-info img{
    width: 200px;
    height: 200px;
    margin: 10px 20px 0px 20px;
    border: 3px solid orange;
    border-radius: 10px;
}

.comentario{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.comentario p{
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.comentario b{
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

/*parte 4*/

.sign-up {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    border-color: none;

}

.sign-text{
    flex: 1;
    text-align: left;
}

.sign-text p{
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.sign-button button{
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.sign-button button:hover{
    background-color: orange;
}

/*parte 4*/
.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 10px;
    
}
